@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-Regular.woff2') format('woff2'),
       url('../fonts/CormorantGaramond-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-Bold.woff2') format('woff2'),
  url('../fonts/CormorantGaramond-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Cormorant Garamond';
  src: url('../fonts/CormorantGaramond-SemiBold.woff2') format('woff2'),
  url('../fonts/CormorantGaramond-SemiBold.woff') format('woff');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Garamond';
  src: url('../fonts/Garamond-Regular.woff2') format('woff2'),
  url('../fonts/Garamond-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Garamond';
  src: url('../fonts/Garamond-Bold.woff2') format('woff2'),
  url('../fonts/Garamond-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
