.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.4s ease;

  &--scroll {
    background-color: rgb($black, 0.8);
  }
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  padding: 30px 0;
}

.header__logo {
  transition: 0.4s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.header__bottom-line {
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: $white;
  transition: 0.4s ease;
}
