.header {
  background-color: black;
  padding: 30px 0;
  height: 100px;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__logo {
  transition: 0.4s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.header__instagram {
  transition: 0.4s ease;

  &:hover {
    transform: scale(1.1);
  }

  stop {
    transition: 0.3s ease;
  }
  svg:hover stop:nth-child(1) {
    stop-color: #fdf497;
  }

  svg:hover stop:nth-child(2) {
    stop-color: #fdf497;
  }

  svg:hover stop:nth-child(3) {
    stop-color: #fd5949;
  }

  svg:hover stop:nth-child(4) {
    stop-color: #d6249f;
  }

  svg:hover stop:nth-child(5) {
    stop-color: #285AEB;
  }
}
