.masters__title {
  margin: 0 0 60px;
}

.masters__name {
  font-weight: 700;
  font-family: 'Cormorant Garamond', 'Arial', sans-serif;

  margin-bottom: 10px;
}

.masters__post {
  font-size: 18px;
}
