.our-works__title {
  margin: 0 0 60px;
}

.our-works__links {
  display: flex;
  justify-content: center;
}

.our-works__link {
  position: relative;

  text-decoration: none;
  color: $white;
  transition: 0.4s ease;

  &:hover {
    color: $primary;
  }

  &.active {
    color: $primary;
  }
}

.our-works__tab {
  display: none;

  &.active {
    display: block;
  }
}

.our-works__list {
  margin: 55px 0 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 16px;
}

.our-works__item {
  width: calc((100% / 3) - 16px);
}

.our-works__img {
  width: 100%;
}

