.page-body {
  font-family: "Cormorant Garamond", "Arial", sans-serif;
  font-size: 22px;
  line-height: 1.3;
  color: $white;
  background-color: $page-bg;

  overflow-x: hidden;
}

.page-body.lock {
  overflow: hidden;

  // Fix запрета скролла для сафари
  position: relative;
}
