.partners__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $xs) {
    flex-wrap: wrap;
    gap: 40px;
  }
}

.partners__img {
  opacity: 0.5;

  @media (max-width: $xs) {
    width: calc(50% - 60px);
  }
}
